:host {
    .form-container {
        width: 100%;
        display: flex;
    }

    textarea {
        resize: none;
    }

    .sound {
        margin-top: 30px;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .thumbnail {
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
}