:host {
    .form-container {
        width: 100%;
        display: flex;
    }

    textarea {
        resize: none;
    }

    .sound {
        margin-top: 30px;
    }

    .form-control {
        margin-bottom: 15px;
    }
}