<div class="container">
    <div class="row mb-4">
        <mat-card class="col-12">
            <mat-card-header>
                <mat-card-title>
                    <h4>Create new statement</h4>
                </mat-card-title>
                <mat-card-subtitle>Share To Learn</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form id="statementForm" [formGroup]="statementForm" #form="ngForm" (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="full-width">
                                <mat-select placeholder="Category" formControlName="categoryId" required>
                                    <mat-option *ngFor="let category of categories" [value]="category?.id">
                                        {{category?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-select placeholder="Origin Language" formControlName="originLang" required>
                                    <mat-option *ngFor="let lang of languages" [value]="lang.value">
                                        {{lang.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-select placeholder="Question Type" formControlName="type" required>
                                    <mat-option *ngFor="let type of questionTypes" [value]="type.value">
                                        {{type.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-6">
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title>
                                                <h5>Select Image</h5>
                                            </mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <div class="form-control">
                                                <input type="file" formControlName="image" (change)="onFileChange($event, FileType.STATEMENT_IMAGE)">
                                            </div>
                                            <div class="thumbnail">
                                                <img src="http://localhost:8080/portal/resources/images?url={{statement.image}}"/>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>

                                <div class="col-6">
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title>
                                                <h5>Select Sound</h5>
                                            </mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <div class="form-control">
                                                <div>
                                                    <label>Normal Sound</label>
                                                    <button mat-button><mat-icon>play_arrow</mat-icon></button>
                                                </div>
                                                <input type="file" formControlName="normalSound" (change)="onFileChange($event, FileType.NORMAL_SOUND)">
                                            </div>
                                            <div class="form-control">
                                                <label>Slow Sound</label>
                                                <input type="file" formControlName="slowSound" (change)="onFileChange($event, FileType.SLOW_SOUND)">
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Content" rows="3" required formControlName="content"></textarea>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Explaination" rows="3" required formControlName="explaination"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>
                                        <h4>Correct answers</h4>
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <emaster-autocomplete-multi-selection [options]="statements" (change)="correctAnwers = $event"></emaster-autocomplete-multi-selection>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="col-6">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>
                                        <h4>Incorrect answers</h4>
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <emaster-autocomplete-multi-selection [options]="statements" (change)="incorrectAnwers = $event"></emaster-autocomplete-multi-selection>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>Cancel</button>
                <button mat-button type="submit" form="statementForm" [disabled]="!form.valid">Save</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>