<div class="learning">
    <div class="learning-header">
        <h4 style="text-align: center">12:23</h4>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <div class="learning-body">
        <emaster-multiple-chooses></emaster-multiple-chooses>
        <!-- <emaster-translation></emaster-translation> -->
    </div>
    <div class="learning-footer">
        <div class="ignore">
            <button mat-stroked-button color="primary">Bỏ Qua</button>
        </div>
        <div class="check">
            <button mat-stroked-button color="accent">Kiểm Tra</button>
        </div>
    </div>
</div>