:host {
    .category-list-container {
        margin-top: 10px;
    }

    .emaster-btn {
        margin-right: 5px;
        border-radius: 3px;

        &:hover {
            color: rgb(95, 10, 10);
        }
    }

    .cdk-column-action {
        flex: 0 0 75px;
    }

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}