:host {
    .multiple-chooses {
        h1 {
            font-size: 2em;
            padding: 0 0 10px 0;
        }
        h3 {
            font-style: italic;
            font-weight: normal;
            font-size: 1.5em;
        }
    }
}