.full {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.full-width {
    width: 100%;
}

.enable-scroll-on-device {
    -webkit-overflow-scrolling: touch;
}

.undisplayed {
    display: none !important;
}

button {
    outline: none !important;
}

.emaster-btn {
    cursor: pointer;
}

.mat-dialog-actions {
    margin-top: 15px;
    border-top: 1px dashed darkgray;
}