<a mat-list-item (click)="selectItem(item)" [ngStyle]="{'padding-left': (depth * 15) + 'px'}" [ngClass]="{'active': item.route ? router.isActive(item.route, true) : false, 'expanded': expanded}">
    <mat-icon matListIcon>{{item.iconName}}</mat-icon>
    <h3 matLine> {{item.displayName}} </h3>
    <span fxFlex *ngIf="item.children && item.children.length">
        <span fxFlex></span>
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
        </mat-icon>
    </span>
</a>

<div *ngIf="expanded">
    <emaster-sidebar-menu-item *ngFor="let child of item.children" [item]="child" [depth]="depth + 1"></emaster-sidebar-menu-item>
</div>