<mat-nav-list>
    <a mat-list-item *ngFor="let item of items" (click)="selectItem(item)">
        <mat-icon matListIcon>{{item.iconName}}</mat-icon>
        <h3 matLine> {{item.displayName}} </h3>
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
        </mat-icon>
    </a>
    <div *ngIf="expanded">
        <a mat-list-item *ngFor="let child of item.children">
            <mat-icon matListIcon>{{child.iconName}}</mat-icon>
            <h3 matLine> {{child.displayName}} </h3>
        </a>
    </div>
</mat-nav-list>